<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>salmatPAS</display-name>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>
            javax.faces.webapp.FacesServlet
        </servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <listener>
    <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
  </listener>
  <listener>
    <listener-class>
			org.apache.myfaces.webapp.StartupServletContextListener 
        </listener-class>
  </listener>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:com/salmat/pas/conf/applicationContext*</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.CONFIG_FILES</param-name>
    <param-value>
	    	/WEB-INF/classes/com/salmat/pas/conf/faces-config.xml,/WEB-INF/classes/com/salmat/pas/conf/faces-config-navigation.xml,/WEB-INF/classes/com/salmat/pas/conf/faces-config-beans.xml,/WEB-INF/classes/com/salmat/pas/conf/faces-config-validator.xml
	    </param-value>
  </context-param>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.jspx</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>Ajax4jsf Filter</display-name>
    <filter-name>ajax4jsf</filter-name>
    <filter-class>org.ajax4jsf.Filter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ajax4jsf</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
  <mime-mapping>
    <extension>htm</extension>
    <mime-type>text/html</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>html</extension>
    <mime-type>text/html</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>js</extension>
    <mime-type>text/html</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>pdf</extension>
    <mime-type>application/pdf</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>afp</extension>
    <mime-type>application/afp</mime-type>
  </mime-mapping>
  <context-param>
    <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
    <param-value>client</param-value>
  </context-param>
  <filter>
    <filter-name>Acegi Filter Chain Proxy</filter-name>
    <filter-class>
            org.acegisecurity.util.FilterToBeanProxy
        </filter-class>
    <init-param>
      <param-name>targetClass</param-name>
      <param-value>
                    org.acegisecurity.util.FilterChainProxy
                </param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Acegi Filter Chain Proxy</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>extensionsFilter</filter-name>
    <filter-class>org.apache.myfaces.webapp.filter.ExtensionsFilter</filter-class>
    <init-param>
      <description>Set the size limit for uploaded files.
	                Format: 10 - 10 bytes
	                        10k - 10 KB
	                        10m - 10 MB
	                        1g - 1 GB</description>
      <param-name>uploadMaxFileSize</param-name>
      <param-value>20m</param-value>
    </init-param>
    <init-param>
      <description>Set the threshold size - files
	                     below this limit are stored in memory, files above
	                 	 this limit are stored on disk.
	              	 	 Format: 10 - 10 bytes
	                             10k - 10 KB
	                         	 10m - 10 MB
	                          	 1g - 1 GB</description>
      <param-name>uploadThresholdSize</param-name>
      <param-value>100k</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>extensionsFilter</filter-name>
    <servlet-name>Faces Servlet</servlet-name>
  </filter-mapping>
  <error-page>
    <error-code>403</error-code>
    <location>/error.html</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/error.html</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/error.html</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/error.html</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/error.html</location>
  </error-page>
  <context-param>
    <param-name>org.apache.myfaces.ADD_RESOURCE_CLASS</param-name>
    <param-value>org.apache.myfaces.renderkit.html.util.DefaultAddResource</param-value>
  </context-param>
  <context-param>
    <param-name>org.apache.myfaces.CHECK_EXTENSIONS_FILTER</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>org.apache.myfaces.USE_ENCRYPTION</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>org.apache.myfaces.ERROR_HANDLING</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>facelets.DEVELOPMENT</param-name>
    <param-value>false</param-value>
  </context-param>
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>sitemesh</filter-name>
    <filter-class>org.extremecomponents.table.filter.SitemeshPageFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>sitemesh</filter-name>
    <url-pattern>*.jspx</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <filter>
    <display-name>servletContextFilter</display-name>
    <filter-name>servletContextFilter</filter-name>
    <filter-class>com.salmat.pas.filter.ServletContextGetter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>servletContextFilter</filter-name>
    <url-pattern>*.jspx</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
  <servlet>
    <servlet-name>menuServlet</servlet-name>
    <servlet-class>com.salmat.pas.servlet.AdmMenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>menuServlet</servlet-name>
    <url-pattern>/secure/menu.serx</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActionQueryServlet</display-name>
    <servlet-name>ActionQueryServlet</servlet-name>
    <servlet-class>com.salmat.pas.servlet.ActionQueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActionQueryServlet</servlet-name>
    <url-pattern>/secure/system/actionQueryServlet.serx</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PdfQueryServlet</display-name>
    <servlet-name>PdfQueryServlet</servlet-name>
    <servlet-class>com.salmat.pas.servlet.PdfQueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PdfQueryServlet</servlet-name>
    <url-pattern>/secure/preview/pdfQueryServlet.serx</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadServlet</display-name>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>com.salmat.pas.servlet.DownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/downloadServlet.serx</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PdfViewServlet</display-name>
    <servlet-name>PdfViewServlet</servlet-name>
    <servlet-class>com.salmat.pas.servlet.PdfViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PdfViewServlet</servlet-name>
    <url-pattern>/secure/preview/pdfViewServlet.serx</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>120</session-timeout>
  </session-config>
</web-app>